body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
} 

.box{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.box__login{
    text-align: left;
}

.box__login h2{
    font-weight: 600;
    color: #071e3e;
    font-size: 30px;
    margin-bottom: 0.5rem;
}

.box__login p{
    color: #8691a1;;
    font-weight: 400;
}



button[type="submit"]{
    margin-top: 1.5rem;
    padding: 0.4rem;
    border-radius: 3px;
    width: 100%;
}

.section__login{
    margin-top: 2rem;
    min-width: 300px;
}

.form__login{
    text-align: left;
}

.form__login input{
    background-color: #fafbfe;
    margin-top: 0.5rem;
    width: 100%;
    padding: 13px;
    margin-bottom: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #d7dbe1;
}

input::placeholder{
    color: #8691a1;
}

button{
    border-radius: 7px;
    background-color: var(--background);
    color: white;
}
