main{
    color: var(--foreground);
    background-color: var(--background);
    background-image: url("../assets/bright-squares.png");
    overflow-y: hidden;
}


.section__message{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 100vh;
    display: flex;
    min-width: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .section__message h2{
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 2rem;
  }
  
  .section__message p{
    max-width: 400px;
    margin-bottom: 2rem;
    font-size: 20px; 
    line-height: 1.5; 
  }
  
  .button__main{
    border: 1px solid #ffff;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 300px;
    border-radius: 5px;
    font-size: 16px;
    color: #ffff;
    width: 200px;
    font-weight: 500;
  }
  
.button__main:hover{
    background-color: white;
    color: var(--background);
}

  
  @media screen and (min-width : 400px) {
  
    .section__message{
      max-width: 700px;
    }
    .section__message h2{
      font-size: 40px;
    }
  }
  

